
.main-logo {
    height: 125px;
  }
  
  .login-form {
    padding-top: 70px;
  }
  
  .login-form {
    max-width: 300px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  