<!--<img type="flex" align="left" class="top-icon-logo" src="../assets/images/logo.png">
<label> Pepsi</label>-->

<!--Top Menu Bar-->
<div nz-row [nzGutter]="16">

  <div nz-col nzSpan="8" class="top-logo-label">
    <img src="../assets/logo.jpg" class="top-icon-logo">
  </div>

  <div nz-col nzSpan="8">
    <div type="flex" align="middle" class="top-label">
      <label class="top-label"><b>Keystrokes Dynamics</b></label>
    </div>
  </div>

  <div nz-col nzSpan="8">

    <div type="flex" align="right" class="logged-in-user"
         *ngIf="manageTopMenuService.userLoggedIn">

      <nz-avatar type="flex" align="right" nzSize="small" nzIcon="user"></nz-avatar>

      <nz-dropdown>

        <a nz-dropdown>
          User
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a [routerLink]="" (click)="logout()">Logout</a>
          </li>
        </ul>

      </nz-dropdown>
    </div>

  </div>

</div>

<hr>

<router-outlet></router-outlet>