
.top-logo-label {
    padding-top: 5px;
    // margin-bottom: -5px;
  }

  .top-label {
      font: 24px;
  }
  
  .top-icon-logo {
    height: 70px;
    margin-left: 5px;
    width: 120px;
  }
  
.top-label {
    margin-top: 30px;
}
  