<div nz-row [nzGutter]="16">

    <div nz-col nzSpan="4"></div>

    <div nz-col nzSpan="16">

        <nz-form-item>
            <nz-form-control>
                <nz-form-label nzFor="type">Select Type {{showRadioButton}} </nz-form-label>
                <nz-radio-group [(ngModel)]="type" (ngModelChange)="typeSelected()">
                    <label nz-radio nzValue="free" [nzDisabled]="!showRadioButton">Free Text</label>
                    <label nz-radio nzValue="fix" [nzDisabled]="!showRadioButton">Fixed Text</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!showRadioButton">
            <nz-form-control>
                <nz-form-label nzFor="type"><b>Keystroke Type</b> </nz-form-label>
                {{type | uppercase}} TEXT
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="index >= 1 && type=='free'">
            <nz-form-control>
                <nz-form-label nzFor="type"><b>Label</b> </nz-form-label>
                {{freeTextTopics[index-1]}}
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="type=='fixed'">
            <nz-form-control>
                <nz-form-label nzFor="type"><b>Statement</b> </nz-form-label>
                {{fixedTextStatement}}
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <label nzJustify="start">
                    User Keystrokes ({{index}} out of 5)
                </label>
                <label *ngIf="index === 0" nzJustify="end" class="label-right">
                    Time Left: 00:00:00
                </label>
                <label *ngIf="index !== 0" nzJustify="end" class="label-right">
                    Time Left: 00:00:{{timeLeft}}
                </label>
                <textarea nz-input placeholder="Please Enter Keystrokes" [(ngModel)]="userTypedKeystrokes"
                    [nzAutosize]="{ minRows: 5, maxRows: 8 }" [disabled]="disableTextArea"
                    (keypress)=keystroked($event)>
                </textarea>
            </nz-form-control>
        </nz-form-item>

        <div class="button-right">
            <button nz-button nzType="primary" (click)="start()" *ngIf="index === 0"
                [disabled]="disableButtonControl || showRadioButton">
                Start
            </button>

            <button nz-button nzType="primary" (click)="next()" *ngIf="index > 0 && index <= 4"
                [disabled]="disableButtonControl">
                Next
            </button>

            <button nz-button nzType="primary" (click)="next()" *ngIf="index === 5"
                [disabled]="disableButtonControl">
                Done
            </button>
        </div>
    </div>

    <div nz-col nzSpan="4"></div>

</div>